body{
    background: linear-gradient(to right, rgb(19, 20, 20) , rgb(42, 192, 192));
}
.container{
    width:  500px;
    height: 250px;
    background-color:aqua;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 15px;
}
.button{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#ADD{
    border-radius: 20px;
    background-color: greenyellow;

}
#remove{
    border-radius: 20px;
    background-color: red;
}
#ADD:hover{
    background-color: white;
    transition: 2ms;

}
#remove:hover{
    background-color: white;
    transition: 2ms;

}

.container{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: inherit;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: black;
    
}
.list{
    position: absolute;
    left: 500px;
    top: 400px;
    color: azure;
}
textarea{
    resize: none;
}